<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	
	<title>Request Leave Process</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Reference Bootstrap files -->
	<link rel="stylesheet"
		 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body style="background: #f0f0f0;">

	<div class="container" >
		<a th:href="@{/logout}" class="btn btn-secondary btn-lg">logout</a>	
		<form action="#" th:action="@{/Employee/ProcessReviewRequestLeave(taskID=${taskID})}"
    						 th:object="${leaveRequest}" method="POST"  class="col-md-8 offset-md-2" >
			
			<label class="form-check-label" for="startDate">Start Date</label>
			<input type="date" th:field="*{startDate}" class="form-control mb-2" placeholder="Start Date" readonly>  
			
			<label class="form-check-label" for="endDate">End Date</label>
			<input type="date" th:field="*{endDate}" class="form-control mb-2" placeholder="End Date" readonly> 
			
			<label class="form-check-label" for="comment">Comment</label>
			<input type="text" th:field="*{comment}" class="form-control mb-2" placeholder="Comment" required>  
			
			<input type="hidden" th:field="*{decision}">  
			<input type="hidden" th:field="*{employeeUsername}">  
			
			<button type="submit" class="btn btn-secondary btn-lg btn-block">Save</button> 
		</form>
	</div>

</body>
</html>