<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	
	<title>Request Leave Process</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Reference Bootstrap files -->
	<link rel="stylesheet"
		 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body style="background: #f0f0f0;">

	<div class="container" >
		<a th:href="@{/login}" class="btn btn-secondary btn-lg">Login</a>
		<a th:href="@{/Employee}" class="btn btn-secondary btn-lg">Employee</a>
		<a th:href="@{/Manager}" class="btn btn-secondary btn-lg">Manager</a>
	</div>

</body>
</html>